*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
    list-style:none;
    text-decoration:none;
    font-family:'Poppins',sans-serifs;
}

:root{
    --h1-font:4.8rem;
    --h2-font:3.5rem;
    --p-font:1rem;


    --bg-color:#b3e7b6;
    --text-color:#000000;
    --main-color:#78b97c;
    --other-color:#d4d2e3;
    --second-color:#fff;
}


body{
    background:linear-gradient(#b3e7b6,#0b6310);
    color:var(--text-color);
    height:100%;
}

a{
    color:#000;
}


.header{
    position:fixed;
    width:100%;
    top:0;
    right:0;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:transparent;
    z-index:1000;
    padding:28px 10%;
    transition: all .8s ease;
}


.logo img{
    width:100%;
    height:auto;
}

/* links */

.navlinks a{
    display:inline-block;
    margin:0 25px;
    font-size:var(--p-font);
    font-weight:500;
    color:var(--text-color);
    transition:all .8s ease;
}

.navlinks a:hover{
    color:var(--main-color);
}


.right-h{
    display:flex;
    align-items:center;
}

.btn-r{
    display:inline-block;
    padding:12px 28px;
    color:var(--second-color);
    background:var(--text-color);
    border-width:1px 3px 3px 1;
    border-style:solid;
    border-color:var(--main-color);
    border-radius:30px;
    margin:0 25px;
    font-size:var(--p-font);
    font-weight:400;
    transition:all .7s ease;
}


.btn-r:hover{
    color:var(--main-color);
    transform:scale(1.1);
    transform:translateY(-5px);
}

/* menu area */
#menu-icon{
    font-size:35px;
    z-index:10001;
    color:var(--text-color);
    cursor:pointer;
    display:none;
}


/* this is the home section for  */
 
/*  for next section if things seems off */
.home ,.services{
    padding:90px 15% 80px;  
}


.home{
    position:relative;
    width:100%;
    height:100vh;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items:center;
    gap:1rem;
}


.home-right{
    position: relative;
}

.home-right img{
    width:100%;
    height:auto;
    object-fit:contain;
}


.r-info{
    position:absolute;
    background:rgba(255,255,255,0.4);
    border:1px solid rgba(255,255,255,0.4);
    border-radius:30px;
    padding:15px 15px 20px;
    right:10px;
    top:120px;
}

.count{
    font-size:20px;
    font-weight:700px;
    margin-bottom:3px;
}


.info-text{
    font-size:12px;
    line-height:25px;
    text-transform:uppercase;
}


.home-left p{
    font-size:var(--p-font);
    font-weight:500;
    line-height:25px;
    margin:35px 0;
}

.home-left h1{
    font-size:var(--h1-font);
    font-weight:800;
    line-height:1.3;
}


.left-in{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    gap:1rem;
}

.btn{
    display:inline-block;
    padding:16px 35px;
     color:var(--second-color);
    background:var(--text-color);
    border-width:1px 3px 3px 1;
    border-style:solid;
    border-color:var(--main-color);
    border-radius:30px;
    margin:0 25px;
    font-size:var(--p-font);
    font-weight:400;
    transition:all .7s ease;
    cursor:pointer;
}

.btn:hover{
    color:var(--main-color);
    transform:scale(1.1);

}


.left-content{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}



.left-content h5{
    font-size:15px;
    text-transform:uppercase;
    margin-bottom:5px;
    letter-spacing:1px;
}

/* uppwards is mostly left */

.r-icons i{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    height:35px;
    width:35px;
    margin:0 6px;
    font-size:15px;
    background:rgba(255,255,255,0.4);
    color:var(--text-color);
    border:1px solid rgba(255,255,255,0.4);
    border-radius:30px;
    transition: all ease 0.7s;

}


.r-icons i:hover{
    background-color: var(--text-color);
    color:var(--main-color);
    transform:scale(1.1);
    transform:translateY(-5px);
}